---
layout: angular
title: Documentation Overview
description: How to read and use this documentation
sideNavGroup: basic
prevpage:
  title: About AngularDart
  url: /angular
nextpage:
  title: Setup for Development
  url: /angular/guide/setup
---
//- FilePath: src/angular/guide/index.jade
include ../_util-fns
- var advancedUrl = './attribute-directives'
:marked
  This page describes the Angular documentation at a high level.
  If you're new to Angular, you may want to visit [Learning Angular](learning-angular) first.

  ## Themes

  The documentation is divided into major thematic sections, each
  a collection of pages devoted to that theme.

block js-alert

- var top="vertical-align:top"
table(width="100%")
  col(width="15%")
  col
  tr(style=top)
    td <b>Guide</b>
    td
      :marked
        Learn the Angular basics (you're already here!) like the
        [setup](./setup) for local development,
        [displaying data](./displaying-data) and
        accepting [user input](./user-input),
        [injecting application services](./dependency-injection) into components,
        and building simple [forms](./forms).
  tr(style=top)
    td <b><a href="../tutorial">Tutorial</a></b>
    td
      :marked
        A step-by-step, immersive approach to learning Angular that
        introduces the major features of Angular in an application context.
  tr(style=top)
    td <b><a href="!{advancedUrl}">Advanced</a></b>
    td
      :marked
        In-depth analysis of Angular features and development practices.
  tr(style=top)
    td <b><a href="../api">API Reference</a></b>
    td
      :marked
        Authoritative details about each of the Angular libraries.

:marked
  A few early pages are written as tutorials and are clearly marked as such.
  The rest of the pages highlight key points in code rather than explain each step necessary to build the sample.
  You can always get the full source through the #{_liveLink}s.

  ## Code samples

  Each page includes code snippets from a sample application that accompanies the page.
  You can reuse these snippets in your applications.

  Look for a link to a running version of that sample, often near the top of the page,
  such as this <live-example name="architecture"></live-example> from the [Architecture](architecture) page.
  <span if-docs="ts">
  The link launches a browser-based, code editor where you can inspect, modify, save, and download the code.
  </span>

  ## Reference pages

  * The [Glossary](glossary) defines terms that Angular developers should know.
  * The [Cheat Sheet](cheatsheet) lists Angular syntax for common scenarios.
  * The [API Reference](../api) is the authority on every public-facing member of the Angular libraries.

  ## Feedback

  Please tell us about any issues you find:

  * For **documentation and example** issues, use the
    [site-webdev issue tracker.](!{_ngDocRepoURL}/issues)
  * To report issues with **AngularDart** itself, use the
    [angular2 issue tracker.](!{_ngRepoURL}/issues)
